/* .selectors {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem 0rem;
}
select {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 25rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0 1.2rem;
}
select option {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: 1rem;
} */
